<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<style>
    html, body {
        height: 100%;

      }
      #map {
        height: 100%;
      }
</style>
<script type="text/javascript" src="/js/jquery.min.js" ></script>

<html>
  <head>
    <title>SOS</title>
  </head>
  <body>

   
		<div style="float:left; width: 80%" id = "map">
			
		</div>

		<div style="float:right; width: 20%">
			<img  id ="cimg" src ="" style = "max-width:100%">
		</div>
		
		
		

 <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/audience.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXgIDmoWXLjZDLWUaUI6Xl_9987AaJO_U&libraries=places&callback=init">
    </script>
  </body>
</html>

